@using EntityLayer.Concrete
@model List<Experience>

<div class="resume-section-content">
    <h2 class="mb-5">Deneyimler</h2>
    @foreach (var exp in Model)
    {
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@exp.Title</h3>
                <div class="subheading mb-3">@exp.SubTitle</div>
                <p>@exp.Description</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@exp.Date</span></div>
        </div>
    }

</div>
